header{
  background-color: rgb(63 63 63);
  margin: 0px;
  padding: 0px;
}
body{
    background-color: #8468ff;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
footer{
  background-color: rgb(63 63 63);
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0px;
  margin: px;
}
footer ul{
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0px;
  }
nav ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    display: flex;
  }
ul li a:hover{
  color:grey
}
li{
    padding: 10px;
  }
nav{
    color: white;
    font-weight: bolder;
    font-family: arial;
}
form{
  
  text-align: center;
}
h1{
  color: white;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    color: Black;
}
h2 img{
  border-style: solid;
  border-radius: 50px;
  border-color: #8468ff;
  }
h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    color: Black;
 
}
h4{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    color: Black;
}
h5{
  
  color:black;
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(2, 2, 2);
}
#para2{
  text-align: Center;
  font-size: 30;
  font-weight: bolder;
  font-style: serif;
}
img{
    padding: 5px;
}

a{
    text-decoration: none;
    color: white;
}
i{
  color: blue;
}
f{
  font-size: 30;
  font-weight: bold;
  padding: 5px;
}
t{
 border-style: solid;
 border-color: white;
 padding: 3px;
 border-radius: 30px;
}
#para1{
   color: white;
   font-size: 2.5em;
   width: 25em;
   background: linear-gradient(-240deg, #8468ff 70%, #785bf7 70%);
   top: 50%;
   left: 50%;
   padding: 4.5em 1.3em;
   border-radius: 0.4em;
   box-shadow: 0 1.3em 1.8em rgba(94, 72, 181, 0.25);
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 1000;
   word-spacing: 0.4em;
   letter-spacing: 0.2em;
   text-align: center;
}


